<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om-Mig</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!-- TEMPLATE -->
<div id="app">
<!--change when components come-->
<about-me></about-me>
<event-list></event-list>

<H2>EVENTS</H2>
</div>

<!-- Load Vue.js first -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Main JavaScript with global components -->
<script type="module" src="/components/main.js"></script>



<!-- Specific component for this view -->
<!--<script type="module" src="/components/about-me.js"></script>-->
<script type="module">
    import aboutMe from '/components/about-me.js';
    import eventList from '/components/events.js';

    // Create a new Vue instance for this specific component
    new Vue({
        el: '#app',
        components: {
            'aboutMe': aboutMe, // Register it locally
            'event-list': eventList,
        },
        data: {

        },
    });
</script>
</body>
</html>